html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
   font-family: '8-Bit Operator', sans-serif;
  }

scene {
    width: 1920px; 
    height: 1080px; 
    display: inline-block;
    position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

speech {
  position: absolute;
  padding: 10px;
  font-size: 12px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: #D3E0D0; /* Gameboy border color */
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #000;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

name {
  font-size: 12px;
  font-weight: bold;
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.auswahl {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin: auto;
  top: 25%;
  left: 0;
  right: 0;
  transform: translateY(50%);
  transition: all .4s ease;
  box-shadow: 2px 2px 5px #333;
  text-align: center;
}

.auswahl button {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  border: none;
  color: #333;
  outline: none;
  font-size: 10px;
  padding: 8px 15px;
  margin: 8px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 5px;
  transition: all .4s ease;
  display: inline-block;
}

.auswahl:hover {
  border-color: #333;
  box-shadow: 2px 2px 5px #fff;
}

.auswahl button:hover {
  background-color: #333;
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

speech input {
  background-color: rgba(0, 0, 0, 0);
  border-style: dashed;
  margin-left: 5px;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 8px;
}

speech input:focus {
  outline: none;
}

speech input:hover {
  border-color: rgb(251, 251, 251);
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

/* Novel Page */

.novel-page {
  background-color: rgba(43, 43, 43, 0.8);
  border: beige;
  color: beige;
}

/* Menu */

.credits {
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: rgba(43, 43, 43, 0.8);
  color: beige;
}

.gameMenu {
  position: absolute;
  background-color: rgba(43, 43, 43, 0.8);
  border: none;
}

.gameMenu button {
  border: none;
  outline: none;
  cursor: default;
  background-color: #0000;
  color: beige;
  font-size: 8px;
  cursor: pointer;
}

/* Inventar */

dialog[type="inventory"] {
  color: #000;
  width: 50%;
  border: 2px solid #333;
  background-color: #D3E0D0; /* Gameboy border color */
  font-family: 'KoHo', sans-serif;
}

dialog[type="inventory"] > ul > li img,
dialog[type="inventory"] > ul > li name,
dialog[type="inventory"] > ul > li description {
  width: 15%;
}