html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
   font-family: '8-Bit Operator', sans-serif;
  }

scene {
    width: 1920px; 
    height: 1080px; 
    display: inline-block;
    position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

/* Textbox */

speech {
  position: absolute;
  padding: 20px;
  font-size: 16px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}
name {
  font-size: 19,62pt;
  font-weight: bold;
  display: block;
  color: rgb(0,0,0);
  margin-bottom: 10px;
}
.auswahl{
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin: auto;
  top: 25%;
  left: 0;
  right: 0;
  transform: translateY(50%);
  transition: all .4s ease;
  box-shadow: 2px 2px 5px #333;
  text-align: center;
}

.auswahl button{
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  border: none;
  color: #333;
  outline: none;
  font-size: 14px;
  padding: 15px 25px;
  margin: 15px;
  cursor:pointer;
  outline: none;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 5px;
  transition: all .4s ease;
  display: inline-block;
}

.auswahl:hover{
  border-color: #333;
  box-shadow: 2px 2px 5px #fff;
}

.auswahl button:hover{
  background-color: #333;
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

speech input {
  background-color: rgba(0, 0, 0, 0);
  border-style: dashed;
  margin-left: 10px;
  /*border-color: rgb(0, 128, 128);*/
  color: rgb(245, 220, 220);
  font-family: 'Press Start 2P', cursive;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12pt;

}
speech input:focus{
  outline: none;
}
speech input:hover{
  border-color: rgb(251, 251, 251);
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}
/* Novel Page */

.novel-page{
  background-color: rgba(43, 43, 43, 0.8);
  border: beige;
  color: beige;
}

/* Menu */

.credits {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: rgba(43, 43, 43, 0.8);
  color: beige;
}

.gameMenu {
  position: absolute;
  background-color: rgba(43, 43, 43, 0.8);
  border: none;
}

.gameMenu button {
border: none;
outline: none;
cursor: default;
background-color: #0000;
color: beige;
font-size: 15px;
cursor:pointer
}

/* Inventar */

dialog[type="inventory"] {
  color: rgb(203, 253, 255);
  width: 50%;
  border: 2px solid;
  background-color: rgb(51, 51, 51);
  font-family: 'KoHo', sans-serif;
}

dialog[type="inventory"]>ul>li img, dialog[type="inventory"]>ul>li name, dialog[type="inventory"]>ul>li description{
width: 33%;
}